    {% extends "base.html" %}

{% block content %}
<div class="container">

<!-- Hero Section -->
<section class="jumbotron text-center">
    <h1 class="display-4">Unlock the Potential of AI-Powered Fundraising</h1>
    <p class="lead">Effortlessly create compelling fundraising campaigns with FundraiserGPT, a ChatGPT designed for fundraisers</p>
    <a class="btn btn-primary btn-lg" href="/start" role="button">Get Started</a>
</section>

<!-- Introduction -->
<section class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Introducing FundraiserGPT, a powerful AI-driven solution that revolutionizes fundraising content creation for nonprofits and charities. Our cutting-edge technology streamlines the process of crafting compelling appeals, emails, social media posts, and more, helping you raise more funds and make a greater impact.</p>
        </div>
    </div>
</section>

<!--

<!-- Services -->
<section class="container">
    <h2 class="text-center mb-5">The FundraiserGPT Process</h2>
    <div class="row">
        <!-- Step 1 -->
        <div class="col-md-4 text-center mb-4">
            <h3>1. Fill in the Appeal Content</h3>
            <p>Provide your campaign's key details, such as the fundraising goal, project description, and target audience, to lay the foundation for your customized appeal.</p>
        </div>
        <!-- Step 2 -->
        <div class="col-md-4 text-center mb-4">
            <h3>2. Select the Format You Need</h3>
            <p>Choose from various formats, including emails, social media posts, direct mail, and more. FundraiserGPT will generate tailored content optimized for your chosen platform.</p>
        </div>
        <!-- Step 3 -->
        <div class="col-md-4 text-center mb-4">
            <h3>3. Refine Your Result and Copy It Out</h3>
            <p>Review the AI-generated content, make any necessary refinements, and copy the final output. Effortlessly integrate compelling content into your fundraising campaign to drive results.</p>
        </div>
    </div>
</section>

<!-- Benefits -->
<section class="container">
    <h2 class="text-center mb-5">Why Choose FundraiserGPT</h2>
    <p class="text-center">With FundraiserGPT, save time and resources while improving the effectiveness of your fundraising campaigns. Our AI-powered service allows you to create targeted, engaging content tailored to your audience, increasing donor conversions and driving success for your organization.</p>
</section>


<!-- CTA -->
<section class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Ready to Transform Your Fundraising Campaigns with FundraiserGPT?</h2>
<p>Start creating compelling fundraising content with our AI-powered service.</p>
<a class="btn btn-primary btn-lg" href="/start" role="button">Get Started</a>
</div>
</div>

</section>
-->

</div>
{% endblock %}