    {% extends "base.html" %}

{% block content %}
<div class="container">

<!-- Hero Section -->
<section class="jumbotron text-center">
    <h1 class="display-4">FundraiserGPT</h1>
    <p class="lead">A ChatGPT assistant for fundraisers</p>
    <a class="btn btn-primary btn-lg" href="/start" role="button">Start</a>
</section>
</div>
<div class="container mt-5">
    <h5 class="mb-4" style="text-align:center;"><i>FundraiserGPT automates and simplifies the content creation process,
        providing high-quality, review-ready drafts for fundraising campaigns.</i></h5>
    <!--
     <p class="mb-4">Say goodbye to the time-consuming task of drafting fundraising content from scratch and let FundraiserGPT boost your fundraising success.</p>
    -->
    <p class="mb-4"><strong>Features:</strong></p>
    <ol class="feature-list">
        <li>
        <strong>Simplified Content Generation:</strong> FundraiserGPT streamlines the process of utilizing ChatGPT for
        fundraising appeals, making it accessible and user-friendly even for those without extensive AI or writing
        experience.
      </li>
      <li>
        <strong>ChatGPT Integration:</strong> FundraiserGPT leverages the power of ChatGPT, an advanced language model, to
        generate review-ready drafts of content for fundraising campaigns.
      </li>
      <li>
        <strong>Prompt Engineering Made Easy:</strong> FundraiserGPT handles the heavy lifting in prompt engineering,
        eliminating the need for extensive manual input and enabling quick content generation.
      </li>
      <li>
        <strong>Appeal-Builder Wizard:</strong> A built-in Appeal-Builder wizard simplifies the content creation process by asking
        targeted questions about your campaign's topic, audience, and urgency, and incorporating your charity or nonprofit's
        fundraising mission to generate review-ready copy.
      </li>
      <li>
        <strong>Versatile Content Formats:</strong> FundraiserGPT provides content in a variety of formats suitable for
        different platforms, including email appeals, social media posts, and direct mail letters, saving you
        time and effort.
      </li>
      <li>
        <strong>Image and Hashtag Suggestions:</strong> Alongside the written content, FundraiserGPT offers suggestions for
        compelling images and relevant hashtags to enhance your campaign's visual and social media impact.
      </li>
        <!--
      <li>
        <strong>Cited Sources:</strong> FundraiserGPT ensures transparency and credibility by citing all the sources it
        uses in generating the content, allowing you to provide proper attribution and maintain trust.
      </li>
      -->
      <li>
        <strong>Fine-Tuning:</strong> Fine-tune your results to align them more precisely with the specific tone, style and
         context for your fundraising campaign.
      </li>

    </ol>
  </div>
   </div>
    {% endblock %}