    {% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h2 class="text-center">Register</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <form method="post" action="{{ url_for('register') }}">
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" class="form-control" id="username" name="username" required>
       </div>
       <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" name="email" required>
       </div>
       <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required>
       </div>
        <div class="input-wrapper">
          <label for="org_name" class="form-label">Organization Name:</label>
          <input type="text" id="org_name" name="org_name" class="form-control" required>
            <span class="char-counter" id="org_name-counter"> / 50</span>
        </div>
        <div class="input-wrapper">
          <label for="fund_mission" class="form-label">Fund Mission:</label>
          <p class="mb-0">Write a short summary of your organization's case for giving (500 char max)</p>
          <textarea id="fund_mission" name="fund_mission" maxlength="500" rows="5" class="form-control"></textarea>
               <span class="char-counter" id="fund_mission-counter"> / 500</span>
       </div>      
       <div>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>


    <style>
.input-wrapper {
  position: relative;
  display: block; /* Changed from inline-block to block */
}

.input-wrapper input,
.input-wrapper textarea {
  width: 100%; /* Added this line */
  box-sizing: border-box; /* Added this line to include padding and border in element's total width */
  padding-right: 50px; /* Adjust as needed */
}

.char-counter {
  position: absolute;
  bottom: 5px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  font-size: 0.8em;
  color: #888;
}
</style>

      <script>
   document.getElementById('org_name').addEventListener('input', function () {
   document.getElementById('org_name-counter').innerText = this.value.length + ' / 50';
});
    document.getElementById('fund_mission').addEventListener('input', function () {
    document.getElementById('fund_mission-counter').innerText = this.value.length + ' / 500';
});
      </script>

{% endblock %}
