{% extends "base.html" %}

{% block content %}
<div class="container">
  <h3>Response</h3>
 <div id="response-display" class="mb-3" style="white-space: pre-wrap; word-wrap: break-word;">
    {{ response }}
  </div>
  <button id="copy-button" onclick="copyToClipboard()">Copy to Clipboard</button>
  <a href="{{ url_for('index') }}" class="btn btn-primary">Back</a>
</div>

<script>
function copyToClipboard() {
  var responseElement = document.getElementById("response-display");
  var textarea = document.createElement("textarea");
  textarea.value = responseElement.textContent;
  document.body.appendChild(textarea);
  textarea.select();
  document.execCommand("copy");
  document.body.removeChild(textarea);
  alert("Text copied to clipboard!");
}

// Hide the spinner when the response page is loaded
window.addEventListener('DOMContentLoaded', (event) => {
  var spinner = document.getElementById("loading-spinner");
  if (spinner) {
    spinner.style.display = "none";
  }
});
</script>

{% endblock %}
