{% extends "base.html" %}

{% block content %}
<div class="container">
  <h3>Response</h3>
  <div id="response-display" class="mb-3" style="white-space: pre-wrap; word-wrap: break-word;">
    {{ response }}
  </div>
  <button id="copy-button" onclick="copyToClipboard()">Copy to Clipboard</button>
  <a href="{{ url_for('index') }}">Back</a>
</div>

  <!-- Form to continue the conversation -->
   <p>Regenerate this response, including these additional requests or adjustments</p>
  <form action="{{ url_for('continue_conversation') }}" method="POST" onsubmit="showSpinner()">
    <div class="form-group">
      <textarea class="form-control" id="additional_input" name="additional_input" rows="3"></textarea>
    </div>
    <input type="hidden" name="chat_request" value="{{ chat_request }}">  <!-- Hidden input field to store previous chat request -->
    <button type="submit" class="btn btn-primary">Regenerate</button>
    <div id="loading-spinner" class="spinner-border text-primary" role="status" style="display:none;">
  </form>


<script>
function copyToClipboard() {
  var responseElement = document.getElementById("response-display");
  var textarea = document.createElement("textarea");
  textarea.value = responseElement.textContent;
  document.body.appendChild(textarea);
  textarea.select();
  document.execCommand("copy");
  document.body.removeChild(textarea);
  alert("Text copied to clipboard!");
}

// Hide the spinner when the response page is loaded
window.addEventListener('DOMContentLoaded', (event) => {
  var spinner = document.getElementById("loading-spinner");
  if (spinner) {
    spinner.style.display = "none";
  }
});

function showSpinner() {
  // Show the spinner
  document.getElementById("loading-spinner").style.display = "inline-block";
}

function clearForm() {
  // Get the form element
  var form = document.getElementById("chat-form");
  
  // Reset the form
  form.reset();
}

</script>

{% endblock %}

