{% extends "base.html" %}

{% block content %}
  <div class="container">

    <h3>Update User Profile</h3>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <p>Your Username: {{ user.username }}</p>
    <p>Your Email: {{ user.email }}</p>

    <form method="POST" action="/update_user">
    <div class="mb-3">
        <p class="mb-0"><i>Organization Name:</i></p>
        <div class="input-wrapper">
            <input type="text" id="org_name" name="org_name" class="form-control" value="{{ user.org_name }}" maxlength="50"require>
            <span class="char-counter" id="orgname-counter">0 / 250</span>
        </div>
    </div>
    <div class="mb-3">
  <p class="mb-0"><i>Fundraising Mission:</i></p>
  <div class="input-wrapper">
    <textarea id="fund_mission" name="fund_mission" required>{{ user.fund_mission }} class="form-control" maxlength="250" rows="2"></textarea>
    <span class="char-counter" id="fund_mission-counter">0 / 250</span>
  </div>
</div>


        <input type="submit" value="Update Profile"  class="btn btn-primary">
    </form>


      <script>
   document.getElementById('org_name').addEventListener('input', function () {
   document.getElementById('org_name-counter').innerText = this.value.length + ' / 50';
});
    document.getElementById('fund_mission').addEventListener('input', function () {
    document.getElementById('fund_mission-counter').innerText = this.value.length + ' / 250';
});
      </script>

      {% endblock %}