{% extends "base.html" %}

{% block content %}
  <div class="container">

    <h3>Update your profile</h3>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

      <p>Your Username: {{ user.username }}</br>
       Your Email: {{ user.email }}</p>

    <form method="POST" action="/update_user">
    <div class="mb-3">
        <p class="mb-0"><i>Organization Name:</i></p>
        <div class="input-wrapper">
            <input type="text" id="org_name" name="org_name" class="form-control" value="{{ user.org_name }}" maxlength="50">
            <span class="char-counter" id="org_name-counter"> / 50</span>
        </div>
    </div>
    <div class="mb-3">
  <p class="mb-0"><i>Fundraising Mission:</i></p>
  <div class="input-wrapper">
    <textarea id="fund_mission" name="fund_mission" class="form-control" maxlength="500" rows="5">{{ user.fund_mission }}</textarea>
    <span class="char-counter" id="fund_mission-counter"> / 500</span>
  </div>
</div>


        <input type="submit" value="Update Profile"  class="btn btn-primary">
    </form>


      <script>
   document.getElementById('org_name').addEventListener('input', function () {
   document.getElementById('org_name-counter').innerText = this.value.length + ' / 50';
});
    document.getElementById('fund_mission').addEventListener('input', function () {
    document.getElementById('fund_mission-counter').innerText = this.value.length + ' / 500';
});
      </script>

      {% endblock %}